@font-face {
    font-family: 'julius'; /*a name to be used later*/
    src: url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Julius+Sans+One&display=swap'); /*URL to font*/
}


.header{
    display: flex;
    max-width: 100%;
    height: 55em;
    background-color: #F6D2E0;
    align-items:flex-start;
    justify-content:flex-end;
    flex-direction: column;
    background: url(../paul-okrema-CszrR4zJy6o-unsplash.jpg) no-repeat;
    height: 0;
    padding-top: 50.25%;
    box-sizing: border-box;
    width: 100%;
    z-index: 0;
    background-position: 50% 50%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
.bodyimg1{
    background: url(../ramiro-pianarosa-lcN-JrPEgjA-unsplash.jpg) no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 45%;
}
.bodyimg2{
    background: url(../josh-nuttall-pIwu5XNvXpk-unsplash.jpg) no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 45%;
}

.hero-section {
    height: 95vh;
    background:  url(../paul-okrema-CszrR4zJy6o-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    width: 100%;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .hero-text {
    width: 450px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-align: right;
    font-family: 'julius'
  }
  
  .hero-welcome-text {
    margin: 0;
    padding: 0;
    font-size: 34px;
    margin-bottom: -10px;
  }
  
  .hero-country {
    font-size: 100px;
    margin: 0;
    padding: 0;
  }
  
  .hero-text-description {
    margin: 0;
    padding-bottom: 20px;
    
  }
  
  .explore-btn {
    text-decoration: none;
    color: black;
    background: #0193a1;
    padding: 12px 0px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-family: 'julius';
  }
  .explore-a{
    text-decoration: none;
    color: black;
    background: #0193a1;
    padding: 12px 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-family: 'julius';
  }

  
  .explore-a:hover {
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 40px #F6D2E0;
    background: rgb(248, 183, 205);
  }